.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .description {
    font-size: 1.1rem;
    color: #9FB1D1;
    max-width: 800px;
    line-height: 1.5;
    text-align: start;
  }

  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .imgBorder{
    border: 4px solid #3794FF; /* Added border properties */
      padding: 10px;        /* Optional padding for space between image and border */
      display: inline-block; /* So the border fits the image and padding */
      border-radius: 8px;   /* Optional border-radius for rounded corners */
      max-width: 100%; /* Make image responsive */
  }

  .image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    
  }

  .span1{
    color: #3794FF;
    font-size: 2rem;
    padding: 0 10px;
  }
  .span2{
    font-size: 1.5rem;
    color: #3794FF;
    padding: 0 10px;
  }