.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 600px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input,
  .textarea {
    padding: 10px;
    border: 1px solid #33363B;
    background-color: #161A20;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .textarea {
    resize: vertical;
  }
  
  .submitButton {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #0078D4;
      color: white;
      font-size: 1rem;
      cursor: pointer;
      width: fit-content;
    }
    
    .submitButton:hover {
      background-color: #2779bd;
    }