.messagesContainer {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    
    
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .messageCard {
    background-color: #161A20;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .email {
    color: #6c757d;
    margin-bottom: 5px;
  }
  
  .message {
    margin-bottom: 0;
  }
  
  .loading,
  .error {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 20px;
  }