.projects {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .projectGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    width: 100%;
  }
  .span{
    color: #3794FF;
    font-size: 4rem;
    
  }